.filters{
    margin-block: 30px;
    margin-bottom: -20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subButton{
    display: flex;
    justify-content: flex-end;
    margin-block: 10px;
    margin-block-end: 40px;
}

.space{
    width: 2%;
}

.dataTable{
    margin-top: 20px;
    margin-bottom: 50px;
}