@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;500;600&display=swap");

:root {
  --primary-color: #541718;
  --secondary-color: #1d2b32;
	--white: #e4e4e4;
  --font: "Barlow", sans-serif;
}

@keyframes pulsate {
  0% {	
    transform: scale(1);
    opacity: 50%;
  }
  50% {
    transform: scale(1.05);
    opacity: 100%;
  }
  100% {
    transform: scale(1);
    opacity: 50%;
  }
}